@model IEnumerable<Technologyreview.Models.Review>
@{

    Html.RenderPartial("DellPart");
}

<h4>Return to laptop selection page by selcting the enter key</h4>
<p><a class="btn btn-default" style="background-image: url('../../images/rsz_enter.jpg'); " href='@Url.Action("Index", "Reviews")'></a></p>
